.Modal {
   position: fixed;
   z-index: 500;
   border-radius: 5px;
   width: fit-content;
   height: fit-content;
   box-shadow: 0 2rem 5rem rgba(0, 0, 0, 1);
   padding: 16px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   transform-origin: top left;
   transition: all 0.3s ease-out;
}

.grow-enter {
   transform: scale(0.3) translate(-50%, -50%);
   opacity: 0;
}

.grow-enter-active {
   transform: scale(1) translate(-50%, -50%);
   opacity: 1;
}

.grow-exit {
   transform: scale(1) translate(-50%, -50%);
   opacity: 1;
}

.grow-exit-active {
   transform: scale(0.3) translate(-50%, -50%);
   opacity: 0;
}

.CloseButtonWrapper {
   position: absolute;
   top: -1rem;
   right: -1rem;
   cursor: pointer;
   padding: 1.5rem;
   border-radius: 50%;
   border: 1px solid var(--color-primary-dark);
   background-color: var(--color-primary);
   box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
   transition: all 0.15s;
}

.CloseButton,
.CloseButton::after {
   content: "";
   background-color: black;
   border: none;
   transition: all 0.1s;
   position: absolute;
   width: 1.9rem;
   height: 0.2rem;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}

.CloseButton {
   transform: translate(-50%, -50%) rotateZ(45deg);
}

.CloseButton::after {
   transform: translate(-50%, -50%) rotateZ(90deg); /* This is in addition to the CloseButton rotation */
}

.CloseButton:focus {
   outline: none;
}

.CloseButtonWrapper:hover,
.CloseButtonWrapper:focus {
   transform: translateY(-0.3rem);
   box-shadow: 0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.4);
}

.CloseButtonWrapper:active {
   transform: translateY(0.1rem);
   box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.6);
}
