:root {
   --color-primary: #ffd57e;
   --color-primary-light: #ffefa0;
   --color-primary-dark: #fca652;

   --color-secondary: #46b3e6;
   --color-secondary-light: #dff6f0;
   --color-secondary-dark: #4d80e4;
}

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%; /* 1rem = 10px */
}

body {
   margin: 0;
   font-family: "Open Sans", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
